<ion-view>

<ion-content>

<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">RecordID</span>
    <input type="text" placeholder="100003" ng-model = "deleteparam.val" >
  </label>
  </div>
  {{deleteparam}} 
 <button class="button button-assertive" ng-click = "deleteBp()">
  Delete BPartner
</button>
</ion-content>
</ion-view>