<ion-view>
<ion-pane> 
<ion-header-bar class="bar-stable">
        <h4 class="title">SOAP TEST:Get Products</h4>
      </ion-header-bar>
<ion-content> 

<div ng-controller= "soapLocationCtrl">


<button  class="button button-positive" ng-click = "call()"> Products </button>


<ion-list>
<ion-item ng-repeat = "v in vic"> 
      {{v.name}}
      </ion-item>
</ion-list>

</div>

</ion-content>

</ion-view>