<ion-view>

<ion-content>
<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Record ID</span>
    <input type="text" placeholder="RecordID" ng-model = "updateparam.recordid">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">New Value</span>
    <input type="text" placeholder="New Value" ng-model = "updateparam.name">
  </label>
  {{updateparam}}
</div>
<button class="button button-positive" ng-click = update()> Update BPartner</button>
</ion-content>
</ion-view>